.header{
    height: 85px;
    background-color: #6c87acad;
}
.main{
    /*background-image: linear-gradient(to top, rgb(122 143 171 / 57%), rgb(211 223 255 / 40%));*/
    background-size: cover;
    font-family: sans-serif;
}
.library{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.book{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 380px;
    border-radius: 0 0 10px 10px;
    margin: 14px;
    padding: 20px 0;
    box-shadow: 0px 2px 7px 0px #000000a8;
}
.name-book{
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    color: darkred;
}
.author{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    border: none;
    background: no-repeat;
    cursor: pointer;
    display: block;
}
.wrapper-btn-add-book{
    left: 25px;
    position: absolute;
    top: 25px;
}
/*.btn-delete-book{*/
/*    position: absolute;*/
/*    right: 5px;*/
/*}*/
.err-no-author{
    color: red;
}
.edit-book{
    margin: 20px;
}

.error-add-book{
    padding: 30px;
    background-color: rgba(183, 48, 48, 0.72);
    color: white;
    position: absolute;
    width: 20%;
    left: 40%;
    top: 0;
}

.alert {
    padding: 30px;
    background-color: #30b731b8;
    color: white;
    position: absolute;
    width: 20%;
    left: 40%;
    top: 0;
}
.alert.false{
    background-color: rgba(183, 48, 48, 0.72);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    background: none;
}

.closebtn:hover {
    color: black;
}

.wrapper-main-block{
    width: 40%;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #ebf5ff52;
    box-shadow: 0 0 5px 0 #00000036;
}
.container-inputs{
    text-align: center;
    margin: 20px;
}
.input-add{
    margin-top: 3px;
    width: 100%;
    height: 28px;
}
.input-add.active{
    border: none;
    box-shadow: 0 0 5px 0 rgba(224, 8, 8, 0.73);
}

.btn-add-book{
    height: 40px;
    width: 100px;
    background-color: #42e047a1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-add-book:hover{
    background-color: rgba(66, 224, 71, 0.83);
}
.wrapper-btn-a  dd-book{
    margin: 15px;
}
.btn-edit-book{
    text-decoration: none;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px;
    background: #ebebeb;
    color: #000000ad;
}
.btn-edit-book:hover{
    background: #dcdcdc;
}
.wrapper-btn-header{
    position: absolute;
    top: 25px;
    left: 30px;
}
.btn-header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    background: #ebebeb;
    color: #000000ad;
    height: 36px;
    width: 130px;
    cursor: pointer;
}
.wrapper-img-add-book{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-img{
    text-align: left;
    margin-bottom: 10px;
    color: #2c2c6b;
}
.addAuthor{
    display: flex;
    margin-bottom: 25px;
    height: 30px;
    border-radius: 5px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    background-color: #dadadaa6;
}
.addAuthor:hover{
    background-color: rgba(208, 206, 206, 0.77);
}
.title-edit{
    font-size: 18px;
    margin: 15px 0;
}
.img-library{
    width: 35%;
    height: 87%;
}
.footer{
    height: 126px;
    background-color: #6c87acad;
}
.paginator {
    width: 280px;
    padding: 10px;
    margin: 30px auto;
    white-space: nowrap;
    background: #ecf0f12b;
    text-align: center;
    border-radius: 11px;
}

.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: #95a5a6;
}

.paginator .prev {
    text-indent: -1000px;
    margin-right: 20px;
    background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
    background-repeat :no-repeat ;
    background-position: 0px 0px;
}

.paginator .next {
    text-indent: -1000px;
    margin-left: 20px;
    background-image: url("https://htmlacademy.ru/assets/course14/arrows.png");
    background-repeat :no-repeat ;
    background-position: 0px -40px;
}
.paginator .current {
    background-color: #16a085;
}

.paginator .disabled {
    opacity: 0.3;
}

.paginator a:hover {
    background-color: #2ecc71;
    transition: background-color .3s;
}
.title-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.container-select-filter{
    margin-top: 10px;
    position: absolute;
    display: flex;
    right: 20px;
}
.filter-title{
    margin: 10px 5px;
}
.container-btn-filter{
    display: flex;
}
.btn-delete-filter{
    height: 40px;
    width: 100px;
    background-color: #bb0028a1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px;
}
.btn-delete-filter:hover{
    background-color: rgba(187, 0, 40, 0.7);
}
.form-filter{
    display: flex;
}
.input-add-filter{
    height: 28px;
    margin: 5px 15px;
}
.container-checkbox {
    display: none;
}
.container-checkbox.active{
    display: block;
    position: absolute;
    top: 50px;
    left: 27%;
}

.dropdown-svg{
    margin: 7px;
    cursor: pointer;
    background: #d2d2d0f0;
    border-radius: 5px;
}
.dropdown-svg:hover{
    background: rgba(182, 182, 180, 0.99);
}
.checkbox-author{
    padding: 5px;
}
.checkbox-author-input{
    cursor: pointer;
}